{% extends "main.html.twig" %}

{% block title %}Neues Elternteil{% endblock %}

{% block content %}
    {% set step = 0 %}

    <div class="steps">
        {% set step = step + 1 %}
        <div class="step-header">
            <div class="circle">{{ step }}</div>
            <div class="label">Registrierung starten</div>
        </div>
        <div class="line"></div>
        <div class="step-content">
            <div class="card">
                <div class="card-body">
                    Öffnen Sie den <a href="https://sso.hgg-broich.de" target="_blank"><i class="fa fa-external-link-alt"></i> HGG Single-Sign-On</a>
                    und klicken Sie auf den Button <a href="https://sso.hgg-broich.de/register/redeem" class="btn btn-primary btn-sm" target="_blank">Registrierungscode einlösen</a>.
                </div>
            </div>
        </div>
        <div class="line"></div>

        {% set step = step + 1 %}
        <div class="step-header">
            <div class="circle">{{ step }}</div>
            <div class="label">Registrierungscode eingeben</div>
        </div>
        <div class="line"></div>
        <div class="step-content">
            <div class="card">
                <div class="card-body">
                    <p>
                        Geben Sie den Registrierungscode ein, den Sie von der Schule erhalten haben:
                    </p>

                    <div class="text-center">
                        <img src="/images/tutorials/parents/new/enter-code-document.png" class="img-fluid">
                    </div>

                    <p>
                        Klicken Sie anschließend auf <button type="button" class="btn btn-primary btn-sm">Code einlösen</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="line"></div>

        {% set step = step + 1 %}
        <div class="step-header">
            <div class="circle">{{ step }}</div>
            <div class="label">Registrierung abschließen</div>
        </div>
        <div class="line"></div>
        <div class="step-content">
            <div class="card">
                <div class="card-body container-fluid">
                    <div class="row">

                        <div class="col-md-7">
                            <p>
                                Sie werden aufgefordert, die Registrierung abzuschließen. Dazu müssen Sie eine Anmelde-E-Mail-Adresse auswählen
                                und ein eigenes Passwort vergeben.
                            </p>

                            <div class="alert alert-danger d-flex align-items-center">
                                <i class="fa fa-exclamation-triangle mr-2"></i>
                                <p>Die Anmelde-E-Mail-Adresse setzt sich aus einem von Ihnen gewählten Teil und dem Suffix <code>@e.hgg-broich.de</code> zusammen.</p>
                            </div>

                            <div class="alert alert-danger d-flex align-items-center">
                                <i class="fa fa-exclamation-triangle mr-2"></i>
                                <p>Bitte beachten Sie die Anforderungen an das Passwort.</p>
                            </div>

                            <div class="alert alert-danger d-flex align-items-center">
                                <i class="fa fa-exclamation-triangle mr-2"></i>
                                <p>Bitte lesen Sie die Datenschutzerklärung und bestätigen Sie diese.</p>
                            </div>

                            <div class="alert alert-info d-flex align-items-center">
                                <i class="fa fa-info-circle mr-2"></i>
                                <p>Die Angaben des Vor- und Nachnamens sowie der E-Mail-Adresse sind freiwillig. Wenn Sie eine E-Mail-Adresse angeben, können Sie Ihr Passwort bei Bedarf zurücksetzen. Wenn Sie diese Angaben machen möchte, klicken Sie auf den Button <button class="btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i> Freiwillige Angaben anzeigen</button> </p>
                            </div>
                        </div>

                        <div class="col-md-5 text-center">
                            <img src="/images/tutorials/parents/new/complete.png" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>

        {% set step = step + 1 %}
        <div class="step-header">
            <div class="circle">{{ step }}</div>
            <div class="label">E-Mail-Bestätigung (optional)</div>
        </div>
        <div class="line"></div>
        <div class="step-content">
            <div class="card">
                <div class="card-body">
                    <p>
                        Falls Sie eine E-Mail-Adresse eingegeben haben, müssen Sie Ihre E-Mail-Adresse bestätigen.
                        Erst dann können Sie sich anmelden.
                    </p>

                    <div class="alert alert-info d-flex align-items-center mb-0">
                        <i class="fa fa-info-circle mr-2"></i>
                        <p>Falls Sie keine E-Mail-Adresse angegeben haben, können Sie sich nun anmelden.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>

        {% set step = step + 1 %}
        <div class="step-header">
            <div class="circle">{{ step }}</div>
            <div class="label">Schülerin/Schüler verknüpfen</div>
        </div>
        <div class="line"></div>
        <div class="step-content">
            <div class="card border-danger">
                <div class="card-body d-flex align-items-center mb-0">
                    <i class="fa fa-exclamation-circle mr-2 fa-3x text-danger"></i>
                    <p>Bevor Sie das ICC verwenden können, müssen Sie noch Ihr Kind mit Ihrem Account verknüpfen.</p>
                </div>
            </div>
        </div>
        <div class="line"></div>

        {% set step = step + 1 %}
        <div class="step-header">
            <div class="circle">{{ step }}</div>
            <div class="label">Verknüpfungsprozess beginnen</div>
        </div>
        <div class="line"></div>
        <div class="step-content">
            <div class="card">
                <div class="card-body">
                    <p>
                        Öffnen Sie den <a href="https://sso.hgg-broich.de" target="_blank"><i class="fa fa-external-link-alt"></i> HGG Single-Sign-On</a>, melden Sie sich an und
                        und klicken Sie auf den Button <a href="https://sso.hgg-broich.de/link" class="btn btn-outline-primary btn-sm" target="_blank"><i class="fa fa-link"></i> Lernende verknüpfen</a>.
                    </p>

                    <div class="text-center">
                        <img src="/images/tutorials/parents/link-student-1.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>

        {% set step = step + 1 %}
        <div class="step-header">
            <div class="circle">{{ step }}</div>
            <div class="label">Kind verknüpfen</div>
        </div>
        <div class="line"></div>
        <div class="step-content">
            <div class="card">
                <div class="card-body">
                    <p>
                        Ihr Kind trägt seine/ihre Benutzerdaten ein und klickt auf "verknüpfen".
                    </p>

                    <div class="text-center">
                        <img src="/images/tutorials/parents/link-student-2.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>

        {% set step = step + 1 %}
        <div class="step-header">
            <div class="circle">{{ step }}</div>
            <div class="label">Weitere Kinder verknüpfen (optional)</div>
        </div>
        <div class="line"></div>
        <div class="step-content">
            <div class="card border">
                <div class="card-body d-flex align-items-center mb-0">
                    <i class="fa fa-redo-alt mr-2 fa-3x"></i>
                    <p>Wiederholen Sie Schritt {{ (step-1) }} für alle Kinder.</p>
                </div>
            </div>
        </div>

        {% set step = step + 1 %}
        <div class="line"></div>
        <div class="step-header">
            <div class="circle">{{ step }}</div>
            <div class="label">Registrierung abgeschlossen</div>
        </div>
        <div class="line"></div>
        <div class="step-content">
            <div class="card border-success">
                <div class="card-body d-flex align-items-center mb-0">
                    <i class="fa fa-check-circle mr-2 fa-3x text-success"></i>
                    <p>Die Registrierung ist nun abgeschlossen. Sie können nun das ICC verwenden.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}